{% include 'base.html' %}
{% include 'navigation.html' %}
{% block content%}
<style>
    body{
    background-color:rgba(210, 209, 209, 0.716);
}
</style>

{% if error == "no" %}
<script>
alert('Record Saved Successfully')
window.location="{% url 'view_patient'%}"
</script>
{% endif %}

{% if error == "yes" %}
<script>
alert("Invalid Login, Try again!")
</script>
{% endif %}


<div class="container">
<h2 class="text-center">Add Patient</h2>
<form  method="post">
    {% csrf_token %}
    <label>Patient Name: </label>
    <input type="text" class="form-control" name="name">
    <label>Gender: </label>
    <input type="text" class="form-control" name="gender">
    <label>Mobile: </label>
    <input type="int" class="form-control" name="mobile">   
    <label>Address: </label>
    <input type="text" class="form-control" name="address">     
    <input type="submit" value="Add" class="form-contrl btn btn-primary mt-4" style="margin-left: 500px;">     
</form>
</div>






{% endblock content%}
{% include 'footer.html' %}