{% include 'base.html' %}

{% include 'navigation.html' %}
{% block content %}
<div>
    <h2 class="m-4 p-3 text-uppercase text-center text-primary">View Appoinment</h2>
    <table id="example" class="table table-striped">
        <thead>
            <tr>
                <th>AppoinmentId</th>
                <th>DoctorName</th>
                <th>PatientName</th>
                <th>Date</th>
                <th>Time</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for i in app%}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.Doctor}}</td>
                <td>{{i.Patient}}</td>
                <td>{{i.date}}</td>
                <td>{{i.time}}</td>
                <td><a href="{% url 'delete_appoinment' i.id %}" onclick="return confirm('Are You Sure want to delete')" class="btn btn-danger">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% include 'footer.html' %}